/* External CSS */

/* body is a CSS Selector */
/* {} idicates a CSS Declaration */
body {
  /* property:value; is a CSS Rule */
  background-color: #fdfdfd;
  color: #0d0d0d;
  font-family: "Shadows Into Light";
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.headerLogo {
  padding: 8px;
  border: 2px solid black;
  border-radius: 50%;
}

ul {
  display: flex;
  justify-content: end;
  gap: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* MAIN */
main {
  height: 100vh;
}

.section
{
  display:flex;
}

.backgroundFeature{
  background-image: url("https://plus.unsplash.com/premium_vector-1729788023709-af146d38a15c?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxpbGx1c3RyYXRpb25zLWZlZWR8Nnx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  
}

/* placeholder value - skal bli slettet senere */
img
{
  width:50%;
}
/* FOOTER */
footer {
  display: flex;
  justify-content: center;
}
